@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Calistoga&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calistoga", serif;
}

:root {
    /* Colors */
    --white: #F7F6F2;
    --black:#12100D; 
    --light-yellow: #fffbcc;
    --yellow: #ffeb66;
    --dark-yellow: #fac039;
    --h-dark-yellow: #F7CA5E;


    /* font sizes */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* max width */
    --site-max-width: 1300px;
}
/* full site styles */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

/* navbar */
header {
    background: var(--dark-yellow);
    position: sticky;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--black);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;    
}

.navbar .nav-menu .nav-link {
    padding: 10px 10px;
    color: var(--black);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius-s);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--black);
    background: var(--h-dark-yellow);
}

.container {
    position: relative;
    text-align: center;
    color: var(--light-yellow);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8%, -50%);
    color: var(--light-yellow);
    font-size: var(--font-size-xxl);
}

.about-text {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: var(--font-size-m);
    color: var(--black);
    background: var(--yellow);
    border-radius: var(--border-radius-s);
}

.section-title {
    font-family: 'Calistoga', serif;
    font-size: var(--font-size-xl);
    color: var(--black);
    background: var(--dark-yellow);
    border-radius: var(--border-radius-s);
}

.collaborators {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: var(--font-size-m);
    color: var(--black);
}